{% extends 'base.html.twig' %}
{# read and display just one flash message type #}
{% block content %}

    <div class="row">
        <div class="alert alert-dark col-md-12">
            <h1>
                <i class="fas fa-shopping-cart"></i> {{nbProduit}} {{ 'productsText' | trans }} : {{ prixTotal }} €
                <b></b>
                {% if nbProduit > 0 %}
                    <a href="{{ path('vider_panier')}}" class="btn btn-danger float-right">{{ 'clearCart' | trans }}</a>
                {% endif %}
            </h1>
            <div class="col-md-12 btn-group btn-group-lg" role="group">
                <a class="btn btn-secondary" href="{{ path('categorie') }}">
                    {{ 'continu' | trans }}
                </a>
                {% if app.user %}
                    {% if panier|length > 0 %}
                        <a class="btn btn-primary" href="{{ path('panier_validation') }}">
                    {% else %}
                        <a class="lienDesactive btn btn-primary" href="{{ path('panier_validation') }}">
                    {% endif %}
                {% else %}
                    <a class="btn btn-primary" href="{{ path('app_login') }}">
                {% endif %}
                        {{ 'toOrder' | trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped table-sm table-hover">
            <thead>
            <tr class="text-center">
                <th>{{ 'product' | trans }}</th>
                <th>{{ 'price' | trans }}</th>
                <th>{{ 'quantity' | trans }}</th>
                <th>{{ 'total' | trans }}</th>
                <th>{{ 'remove' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in panier %}
                {% set produit = item['item'] %}
                {% set quantite = item['quantity'] %}
                <tr class="text-center">
                    <td>{{ produit.libelle }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>
                        <a href="{{ path('retrait_panier', {produitId: produit.id}) }}">
                            <i class="fa fa-minus"></i>
                        </a>
                        {{ quantite }}
                        <a href="{{ path('ajout_panier', {produitId: produit.id}) }}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </td>
                    <td>
                        {{ produit.prix * quantite }}
                    </td>
                    <td>
                        <a href="{{ path('retirer_produit_panier', {produitId: produit.id}) }}">
                            <i class="far fa-trash-alt text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}