{% extends 'base.html.twig' %}

{% block title %}{{ 'log' | trans }}{% endblock %}

{% block body %}
<form method="post">


    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="col-sm-12 col-md-6">
            <h1 class="h3 mb-3 font-weight-normal">{{ 'connect' | trans }}</h1>
            <label for="inputEmail">{{ 'mail' | trans }}</label>
            <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">{{ 'password' | trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <br>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'connection' | trans }}
    </button>
        </div>
    </div>
</form>
{% endblock %}
