{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for commande in commandes %}
                <div class="col-2">
                    <div class="card clickable" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{commande.dateCommande | date('d/m/Y \\ H:i') }}</h5>
                        </div>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{ commande.id }}" aria-expanded="false" aria-controls="collapseExample">
                            <b>{{ 'showProducts' | trans }}</b>
                        </a>
                        <div class="collapse" id="collapse{{ commande.id }}">
                            <div class="card card-body">
                                {% for ligne in commande.ligneCommandes %}
                                    <div>
                                        {{ ligne.produit.libelle }} x{{ ligne.quantite }} ({{ ligne.prix }})
                                    </div>
                                {% endfor %}
                                <p>{{ 'orderedOn' | trans }} {{ commande.dateCommande | date('d/m/Y \\ H:i') }}</p>
                                <p>{{ 'Status' | trans }} : {{ commande.statut }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}