{% extends 'base.html.twig' %}

{% block title %}{{ 'store' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-sm-12 col-md-6">
        <h1 class="h3 mb-3 font-weight-normal">{{ 'registration' | trans }}</h1>
        {{ include('usager/_form.html.twig') }}
        </div>
    </div>
{#    <a href="{{ path('usager_index') }}">back to list</a>#}
{% endblock %}
