{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'twig/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <h1 class="text-center">Contact</h1>
    <div class="text-center">
    <img src="{{ asset('images/iut2_info.png') }}" class="img-fluid img-home-container" alt="image telephone">
    </div>

{% endblock %}

