{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'twig/navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="card clickable" onclick="location = '{{ path('accueil')}}'">
        <img src="{{asset('images/epicerie.jpg')}}" class="card-img-top" alt="Logo Boutique Symfony">
        <div class="card-body">
            <p class="card-text"><i>Ici rien à vendre, c'est juste pour apprendre</i></p>
        </div>
    </div>

{% endblock %}