<link rel="stylesheet" href="{{ asset('css/bootstrap-4/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/fontawsome-5.all.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/projet.css') }}">
<link rel="icon" href="{{ asset('images/favicon.ico') }}">


<style>

    .lienDesactive {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
    }

</style>
