{% set nbProduit=nbProduit|default(0) %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('accueil') }}">MI13</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('accueil') }}">{{ 'home' | trans }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('categorie')}}">{{ 'store' | trans }}</a>
            </li><li class="nav-item">
                <a class="nav-link" href="{{path('panier')}}">{{ 'cart' | trans }} ( {{ render(controller("App\\Controller\\PanierController::nombreProduitPanier")) }} )</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'user' | trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if app.user %}
                        <a class="dropdown-item" href="{{path('usager_show', {'id':app.user.id}) }}">{{ 'account' | trans }}</a>
                        <a class="dropdown-item" href="{{path('commande')}}">{{ 'orders' | trans }}</a>
                        <a class="dropdown-item" href="{{path('app_logout')}}">{{ 'logout' | trans }}</a>
                    {% else %}
                        <a class="dropdown-item" href="{{path('app_login')}}">{{ 'login' | trans }}</a>
                        <a class="dropdown-item" href="{{path('usager_new')}}">{{ 'registration' | trans }}</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('contact')}}">{{ 'contact' | trans }}</a>
            </li>
        </ul>
        {% if app.user %}
            <span style="color:rgba(255,255,255,.5)">{{ 'connected' | trans }} : {{ app.user.nom }} </span>
        {% endif %}
        <form action="{{ path('recherche') }}" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="recherche" type="search" placeholder="{{ 'search' | trans }}..." aria-label="Rechercher">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ 'search' | trans }}</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-globe-africa"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="langDropdown">
                    <a class="dropdown-item"
                       href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({_locale: 'fr'})) }}">fr</a>
                    <a class="dropdown-item"
                       href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({_locale: 'en'})) }}">en</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
