Bonjour {{ commande.usager.prenom }} {{ commande.usager.nom }}.

Nous vous confirmons que nous avons reçu votre commande n°{{ commande.id }}.
Elle sera traitée le plus rapidement possible

Cordialement,