<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% include 'twig/css.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'twig/navbar.html.twig' %}

        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="flash-notice alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}
            {% endblock %}
        </div>
{#        <div>#}
{#            <div class="row">#}
{#                <div class="col-md-2">#}
{#                    {{ render(controller('App\\Controller\\BoutiqueController::plusVendu')) }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        {% block body %}{% endblock %}
        {% include 'twig/js.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
